PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-04-28 05:06:02.678201');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-04-28 05:06:02.722868');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-04-28 05:06:02.752112');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Abstract art canvas',1,'[{"added": {}}]',7,1,'2024-04-28 05:36:23.078614');
INSERT INTO django_admin_log VALUES(2,'2','Abstract art canvas',1,'[{"added": {}}]',7,1,'2024-04-28 06:16:52.901407');
INSERT INTO django_admin_log VALUES(3,'1','Abstract art canvas',3,'',7,1,'2024-04-30 20:37:29.452636');
CREATE TABLE IF NOT EXISTS "app_product" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(100) NOT NULL, "selling_price" real NOT NULL, "discounted_price" real NOT NULL, "description" text NOT NULL, "composition" text NOT NULL, "prodapp" text NOT NULL, "category" varchar(2) NOT NULL, "product_image" varchar(100) NOT NULL);
INSERT INTO app_product VALUES(3,'Abstract Art Canvas',1000.0,900.0,'A canvas with abstract art painted on it. Size: 50x80','-','-','AB','product/abstractArt.png');
INSERT INTO app_product VALUES(4,'Blank Canvas',150.0,130.0,'A blank canvas with limitless possibility, a perfect place to unleash your creativity. Size: 60x80','-','-','CA','product/BlankCanvas.jpg');
INSERT INTO app_product VALUES(5,'Classic Portrait',879.0,829.0,'A portrait of a fine lady done in a classical style. Size: 40x65','-','-','PO','product/ClassicPortrait.jpg');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$390000$zhnPuc3JiZfSmX2ltozHZP$Wv3XVuIRpBI6AAzYPOozO2gZH5z+mGmi882dZ/2Kthk=','2024-05-06 20:47:41.294797',1,'root','','root@gmail.com',1,1,'2024-04-28 05:07:47','');
INSERT INTO auth_user VALUES(16,'pbkdf2_sha256$720000$7HGz3ozt9hWkvQ8eb9xTou$mY9zoy+cJIbAnyKeSPG9/4DnzYK/+8rIv7/7GGYKSVc=',NULL,0,'user2','','user2@gmail.com',0,1,'2024-05-01 21:57:02.092997','');
INSERT INTO auth_user VALUES(18,'pbkdf2_sha256$720000$5Pg8ri862C2qqASX3PhqKz$SpAPwJPJhYhkRU9je/P4iovBMUE2qQz+ZT/clxwiLMI=','2024-05-02 16:59:57.456127',0,'sarah','','sarah@gmail.com',0,1,'2024-05-02 15:18:16.146080','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('xpdfltzk5w8n6yu47m7729abknvjf8mh','.eJxVjMsOgjAUBf-la9PQC_Th0r3f0NwXgpqSUFgZ_11JWOj2zMx5mYzbOuat6pInMWfjzOl3I-SHlh3IHctttjyXdZnI7oo9aLXXWfR5Ody_gxHr-K0hMbnQxzZC24QOInjwIgkoRBpC71DQSeiieFVOLQ08sFev7Dw0hOb9AcVNOAo:1s0xo8:J2ovenySfr-QQLb0yvXLjFhu7ImG0QLHH5T7PXmxKwA','2024-05-12 06:14:40.621425');
INSERT INTO django_session VALUES('dm3jt8hocoip5k27i0197hxflkoxcvpt','.eJxVjMsOgjAUBf-la9PQC_Th0r3f0NwXgpqSUFgZ_11JWOj2zMx5mYzbOuat6pInMWfjzOl3I-SHlh3IHctttjyXdZnI7oo9aLXXWfR5Ody_gxHr-K0hMbnQxzZC24QOInjwIgkoRBpC71DQSeiieFVOLQ08sFev7Dw0hOb9AcVNOAo:1s1tof:rGY9FYFwPYxek6U1_DDa5mn7WA382viChaRUCs0VYjg','2024-05-14 20:11:05.556366');
INSERT INTO django_session VALUES('9ulki7vrpfchodp6jb3bl15egeqodutg','.eJxVjDsOwjAQBe_iGln-5LNQ0nMGa71e4wCypTipEHfHkVIk7cy89xUO1yW5tfLspiBuQoO4HKFHenPeTHhhfhZJJS_z5OWWyN1W-SiBP_e9PR0krKmtydrRIBD4kU2EXiOzsVEpQwOYqwWldYcdRfA96ghxUNQKH1RDGFj8_gmEOL0:1s2Zmn:y1M3KRRtN9BTCgjz_MgA03gQ1gnGNsH66_tuNTWYQZg','2024-05-16 16:59:57.616743');
CREATE TABLE IF NOT EXISTS "app_customer" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "locality" varchar(200) NOT NULL, "city" varchar(50) NOT NULL, "mobile" integer NOT NULL, "zipcode" integer NOT NULL, "state" varchar(100) NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO app_customer VALUES(1,'Mennatallah Amr','Egypt','Cairo',226721073,234221,'CA',1);
INSERT INTO app_customer VALUES(13,'Mennatallah Amr','Egypt','Cairo',999999999,3423412,'CA',1);
INSERT INTO app_customer VALUES(14,'Mennatallah Amr','Egypt','Alex',88888888,3423412,'CA',1);
CREATE TABLE IF NOT EXISTS "app_cart" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "product_id" bigint NOT NULL REFERENCES "app_product" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO app_cart VALUES(2,1,4,1);
INSERT INTO app_cart VALUES(3,1,7,1);
INSERT INTO app_cart VALUES(4,2,4,20);
CREATE TABLE IF NOT EXISTS "app_orderplaced" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" bigint unsigned NOT NULL CHECK ("quantity" >= 0), "ordered_date" datetime NOT NULL, "status" varchar(50) NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "app_product" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_id" bigint NOT NULL REFERENCES "app_payment" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "app_wishlist" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "product_id" bigint NOT NULL REFERENCES "app_product" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO app_wishlist VALUES(6,16,1);
INSERT INTO app_wishlist VALUES(7,4,1);
INSERT INTO app_wishlist VALUES(9,3,22);
CREATE TABLE IF NOT EXISTS "app_payment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "credit_card" varchar(100) NOT NULL);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',27);
INSERT INTO sqlite_sequence VALUES('django_admin_log',47);
INSERT INTO sqlite_sequence VALUES('django_content_type',13);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "app_customer_user_id_e6e52921" ON "app_customer" ("user_id");
CREATE INDEX "app_cart_product_id_a4171918" ON "app_cart" ("product_id");
CREATE INDEX "app_cart_user_id_2bf07879" ON "app_cart" ("user_id");
CREATE INDEX "app_orderplaced_user_id_3c6fe1e1" ON "app_orderplaced" ("user_id");
CREATE INDEX "app_orderplaced_product_id_90c7863a" ON "app_orderplaced" ("product_id");
CREATE INDEX "app_orderplaced_payment_id_624ac7f1" ON "app_orderplaced" ("payment_id");
CREATE INDEX "app_wishlist_product_id_fc12fbba" ON "app_wishlist" ("product_id");
CREATE INDEX "app_wishlist_user_id_9cab8200" ON "app_wishlist" ("user_id");
CREATE INDEX "app_payment_user_id_0f781b98" ON "app_payment" ("user_id");
COMMIT;
