{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block banner_slider %}
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-warning" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-warning" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="bg-warning" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-warning" aria-label="Slide 2"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active " data-bs-interval="4000">
        <img src="{% static 'app/images/banner/b1.jpg'%}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="{% static 'app/images/banner/b2.jpg'%}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="{% static 'app/images/banner/b3.jpg'%}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="{% static 'app/images/banner/b4.jpg'%}" class="d-block w-100" alt="banner image">
      </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span ></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon " aria-hidden="true"></span>
      <span ></span>
    </button>
  </div>
{% endblock banner_slider %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">This is our project for Parallel and Distributed Systems. This shop
             is not real and all our products are made up for the sake of simulating the look of an actual shop.</p>
        </div>
        <br><br>
        <h2 class="text-center">Team Members</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">Menna</p>
            <p class="fs-4 text-center">Somaya</p>
            <p class="fs-4 text-center">Maya</p>
            <p class="fs-4 text-center">Sarah</p>
            <p class="fs-4 text-center">Mariz</p>
            <p class="fs-4 text-center">Farah</p>
            <p class="fs-4 text-center">Carol</p>
            <p class="fs-4 text-center">Jasmine</p>
            <p class="fs-4 text-center">Mariam</p>

        </div>
    </div>
    <br><br>
{% endblock main-content %}